body{
    font-family: nunito;
background-color: rgba(201, 138, 90, 0.4);}

footer{
background-image:linear-gradient(rgba(20,0,10,0.8), rgba(20,0,10,0.8)), url("/image/toulouse3.jpg");
background-size: cover;
opacity: 0.9;
background-repeat: no-repeat;
background-position: bottom, 30px;
color:white;
padding: 30px;
margin:0 auto;}

header{
background-image: linear-gradient(rgba(20,0,10,0.5), rgba(20,0,10,0.6)), url("/image/toulouse11.jpg");
background-size: cover;
background-repeat: no-repeat;
color:white;
padding:200px 0;
background-position: bottom;
}

h1{
line-height: 1;
font-weight: 900;
font-size: 96px;
text-align: center;
text-shadow: 6px 6px 2px rgb(61, 1, 90);}


h2{line-height: 1;
font-weight: 700;
font-size: 66px;
text-align: center;
text-shadow: 5px 5px 3px rgb(61, 1, 90)}

h3{line-height: 1;
font-weight: 500;
font-size: 18px;
text-align: center;}

button{
    text-align: center;
    border:2px solid rgb(41, 1, 90);
    margin: 0 auto;
    display:block;
    padding: 20px 30px;
    background-color: pink;
    border-radius: 6%;
    font-family: nunito;
    color:purple;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 1px 2px 3px #523243;
}
ul{
    list-style: none;
    font-size: 16px;
margin: 0px;
padding: 0px;}

li{
margin: 0px;
padding: 0px;
line-height: 1.5;}

p{font-size:16px;
text-align: left;
}

footer h3{text-align: left;}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap:80px;
    margin-left: 20px;
}

footer a, a:visited{
    color:aqua;
}
.container{
max-width:1400px;
margin: 0 auto;
}
@media(max-width:900px){
    h1{font-size:60px;}
    h2{font-size:45px;}
    footer{font-size: 12px;}
    .footer-grid{
    grid-template-columns: 1fr;}
}
.icons{
    margin-inline: 10px;
}