body{
    font-family: nunito;
background-color: rgba(201, 138, 90, 0.4);}

footer{
background-image:linear-gradient(rgba(20,0,10,0.8), rgba(20,0,10,0.8)), url("/image/toulouse3.jpg");
background-size: cover;
opacity: 0.9;
background-repeat: no-repeat;
background-position: bottom, 30px;
color:white;
padding: 30px;
margin:0 auto;}

header{
background-image: linear-gradient(rgba(20,0,10,0.5), rgba(20,0,10,0.6)), url("/image/toulouse11.jpg");
background-size: cover;
background-repeat: no-repeat;
color:white;
padding:200px 0;
background-position: bottom;
}

h1{
line-height: 1;
font-weight: 900;
font-size: 96px;
text-align: center;
text-shadow: 6px 6px 2px rgb(61, 1, 90);}


h2{line-height: 1;
font-weight: 700;
font-size: 66px;
text-align: center;
text-shadow: 5px 5px 3px rgb(61, 1, 90);
margin-bottom: 10%;}

h3{line-height: 1;
font-weight: 500;
font-size: 18px;
text-align: center;}
h4{font-size: 18px;}
h5{font-size: 15px;}


ul{
    list-style: none;
    font-size: 16px;
margin: 0px;
padding: 0px;}

li{
margin: 0px;
padding: 0px;
line-height: 1.5;}

p{font-size:16px;
text-align: left;
}
header p{margin-top: 20%;}

footer h3{text-align: left;}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap:80px;
    margin-left: 20px;
}

footer a, footer a:visited{
    color:aqua;
}
iframe{aspect-ratio: 1/1;
width:100%;}

th, td{ padding: 5px;
text-align: left; 
font-size: 16px;}

.why{scroll-margin-top: 40px;}

.icons{margin-right:10px;}
.container{
max-width:1400px;
margin: 0 auto;
}

.why-toulouse{

     display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: left;
    width:100%;
    margin-top: 8%;
    margin-bottom: 30px;
   
}
.why-heading{
    font-size: 34px;
    color:rgba(61, 1, 90, 0.7);
    text-shadow: 1px 1px 1px gray;
    margin-top: 5px;
    margin-bottom: 28px;
}
.why-paragraph{
    margin:0px auto;
    padding-inline: 35% auto;
    width:90%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.bar{display: block;
margin: 0 auto;}

.cheese{display: block;
margin: 0 auto;}

.button{
    text-align: center;
    border:2px solid rgb(41, 1, 90);
    padding: 20px 30px;
    background-color: rgb(248, 190, 175);
    border-radius: 6%;
    color:purple;
    font-weight: 800;
    font-size: 18px;
    box-shadow: 0px 1px 2px 3px #523243;
    text-decoration: none;
}

.center{text-align: center;}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:24px;
    
}
.card{
    background-color:white;
    padding-bottom:20px;
    border-radius: 3px;
    position:relative;
    width: 96%;
}

.card-pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
border-radius: 2px;}


.card-text{
    margin:0px 10px 50px 10px;
    line-height: 1.5;
    padding:1px;

}
img{border-radius: 2px;}

.btn{text-align: center;
    border:1px solid rgb(41, 1, 90);
    padding: 8px 10px;
    background-color: rgb(248, 190, 175);
    border-radius: 7px;
    color:purple;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px #523243;
    text-decoration: none;
position:absolute; bottom:20px;}

.bottom{margin-top: 20%;}
.bottom-margin{
    margin-bottom: 0;
}
.right{padding-left:20px;}


.my-favorite{
    background-color:rgb(244, 230, 220);
    padding:2%;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 3px;
}
.favorite-header{font-size: 36px;
font-weight: bold;
opacity: 0.7;
margin-bottom: 30px;
margin-top: 20px;
padding:1%;}

.instagram{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    border-radius: 3px;
    background-color:rgb(244, 230, 220);
    margin-top: 8%;
    margin-bottom: 8%;
    padding:2%;
}
.insta{width:100%;}
.instap{
    font-size: 22px;
font-weight: 500;
opacity:0.8; margin-top:8px;}



@media(max-width:900px){
    h1{font-size:60px;}
    h2{font-size:45px;}
    footer{font-size: 12px;
    margin:30px auto;}
    .footer-grid{
    grid-template-columns: 1fr;
margin-right: 20%;
margin-left: 7%;}
   .cards{
    grid-template-columns:1fr;}
    .card{margin:0 auto;}
.btn{padding: 12px 15px;}
.instagram{
    grid-template-columns: 1fr;}
    table{margin-left:4%;}
}


    
@media(max-width:1000px){
   .why-toulouse{
    grid-template-columns: 1fr;
}
.bar{margin-top:15%;}
.cheese{
margin-bottom:10%;
}
.instap{font-size:18px;
margin-left:10px;
margin-right:10px;
}
}